@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 255 255 255;
  --background: 9 9 11;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  min-height: 100vh;
  antialiased: true;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
